* {
    font-family: 'Lato', sans-serif
}


/* --------------------  INDEX  ----------------------------- */


/* HEADER DISEÑO */

.navbar-brand {
    width: 200px;
    height: 120px;
    margin: 0px;
    padding: 0px;
}

.navbar {
    background-color: #4b543a;
    width: 100%;
    z-index: 2;
}


.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar .navbar-nav .nav-link:hover {
    color: #b9ac28;
}

/* HEADER DISEÑO */



/* MAIN DISEÑO */

.main__index {
    background: url(../imagenes/p1.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 850px;
    max-width: 100%;
    min-width: 100%;
}

.main__titulo1,
.main__titulo2 {
    color: white;
}


/* MAIN DISEÑO */


/* SECTION DISEÑO */

.d-flex .justify-content-center .align-items-center {
    width: 350px;
    height: 350px;
}

.text-center {
    color: #b9ac28;
}

section,
.section__index {
    width: 100%;
    height: 500px;
    background-color: #131311;
}


/* SECTION DISEÑO */


/* FOOTER DISEÑO */


footer {
    background-color: #4b543a;
    width: 100%;
    height: 135px;
}

.icono_footer {
    color: #131311;
}

.icono_footer:hover {
    color: #b9ac28;
}

.h1__footer {
    color: #b9ac28;
}

.navbar-light .navbar-toggler {
    border-color: #b9ac28;
}

/* FOOTER DISEÑO */



/* MEDIA QUERIES INDEX */


@media screen and (max-width:768px) {


    section,
    .section__index {

        height: 1000px;

    }

    .h2 {
        font-size: 1.8rem;
    }

    .d-flex .flex-row-reverse {
        width: 400px;
        height: 400px;
    }

    .d-flex .flex-row-reverse {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .flex-row-reverse {
        flex-direction: column;
    }
}

@media screen and (max-width:500px) {

    .header__all {
        height: 136px;
    }

    .h1 {
        font-size: 2rem;
    }

    a .fa-brands {
        margin: 1rem;
    }


}





/* ---------------------------  GALERIA  ----------------------------- */

/* --BODY GALERIA DISEÑO-- */



/* --BODY GALERIA DISEÑO-- */




/* --MAIN GALERIA DISEÑO-- */

.main__galeria {
    background-color: #131311;
    width: 100%;
    height: 3500px;
    display: flex;
    flex-wrap: wrap;
}


.galeria__titulo {
    height: 100px;
    padding: 200px;
}

/* GALERIA CONTENEDOR FLEX */


.galeria__flex {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}


/* GALERIA CONTENEDOR FLEX */

.galeria__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    width: 100%;
}

.img__galeriaT {
    width: 400px;
    height: 340px;
}


/* TITULOS DISEÑO */

span,
.topM {
    color: #b9ac28;
}

span,
.topM0 {
    color: #ff968d;
}

span,
.topM1 {
    color: #0de2ec;
}

span,
.topM2 {
    color: #ef1417;
}

span,
.topM3 {
    color: #e6dcd8;
}

/* TITULOS DISEÑO */

/* SEPARADOR DISEÑO */

.separador__galeria {
    margin: 80px;
    width: 1700px;
    height: 2px;
    background-color: #b9ac28;
}

.separador__galeria1 {
    margin: 80px;
    width: 1700px;
    height: 2px;
    background-color: #b9ac28;
}

/* SEPARADOR DISEÑO */


/* --MAIN GALERIA DISEÑO-- */


/* --MEDIA QUERIES GALERIA-- */



/* MEDIA 1024PX */
@media screen and (max-width:1024px) {

    .main__galeria {
        height: 4800px;
    }
}

/* MEDIA 1024PX */


/* MEDIA 768PX */

@media screen and (max-width:768px) {

    .main__galeria {
        height: 7500px;
    }

}


/* MEDIA 768PX */




/* MEDIA 500PX */

@media screen and (max-width:500px) {

    /* HEADER GALERIA MEDIA */

    header {
        height: 1700px;
    }

    .ul__links {
        font-size: 3rem;
        padding: 100px;
    }

    /* HEADER GALERIA MEDIA */

    /* FOOTER GALERIA MEDIA */
    footer {
        height: 430px;
    }

    .redes__link {
        justify-content: space-between;
        margin: 40px;

    }

    .redes__icono {
        height: 80px;
        width: 80px;
    }

    /* FOOTER GALERIA MEDIA */

}

/* MEDIA 500PX */


/* --MEDIA QUERIES GALERIA-- */









/* --------------------------  TOUR  ------------------------------------ */

.main__tour {
    width: 100%;
    height: 1000px;

    margin: 0px;

    background-color: #131311;

    display: flex;
    flex-direction: row;
    justify-content: center;

    max-width: 100%;

}

/*  */

.btn__tour {
    color: white;
    background-color: #b9ac28;
}

/*  */


.fa-brands {
    margin: 20px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

@media screen and (max-width:1024px) {

    .main__tour {
        height: 2300px;
    }

    .row .d-flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

    }

    .row {
        margin-right: 0px;
        margin-left: 0px;
    }


    .titulo__tour {
        margin: auto;
        margin-bottom: 20rem;
    }


}

@media screen and (max-width:768px) {

    .main__tour {

        height: 2400px;
    }

    .row {
        margin-bottom: auto;
    }


    .row .d-flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;


    }

    .row {
        margin-right: 0px;
        margin-left: 0px;
    }


    .titulo__tour {
        margin: auto;
        margin-bottom: 20rem;


    }

}


@media screen and (max-width:500px) {
    header {
        height: 136px;
    }

    a .fa-brands {
        margin: 0px;
    }



}



.card {
    border-radius: 2rem;
    background-color: #4b543a;
}

.card-title {
    color: #b9ac28;
}

.card-text {
    color: white;
}

.mt-5 {
    color: white;
}

.titulo__tour {
    color: #b9ac28;
    font-size: 4rem;
}

.d-flex {
    align-content: space-around
}

.btn:hover {
    background-color: #131311;
    color: white;

}


/* -----------------------  ALBUMS  ------------------------- */

.main__albums {
    width: 100%;
    height: 1700px;
    background-color: #131311;
}

.album__titulo {
    width: 100%;
    display: flex;
    justify-content: center;

    padding-top: 80px;

    color: #b9ac28;
}

.tarjeta__anim {
    background: url(../imagenes/trenchportada.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .5s;
    width: 350px;
    height: 350px;
}

.card.tarjeta__anim:hover {
    width: 380px;
    height: 380px;
}


.card {
    margin: 3.5rem;
    margin-top: 180px;
    z-index: 1;
}

.tarjeta__anim1 {
    background: url(../imagenes/vesseltop.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .5s;
    width: 350px;
    height: 350px;
}

.card.tarjeta__anim1:hover {
    width: 380px;
    height: 380px;

}

.tarjeta__anim2 {
    background: url(../imagenes/scaledicy.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .5s;
    width: 350px;
    height: 350px;
}

.tarjeta__anim2:hover {
    width: 380px;
    height: 380px;
}


.tarjeta__anim3 {
    background: url(../imagenes/blurryfaceportada.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .5s;
    width: 350px;
    height: 350px;
}

.tarjeta__anim3:hover {
    width: 380px;
    height: 380px;

}

.contenedor__año {
    color: white;
    height: 500px;
    margin-top: 380px;
}

.tarjeta__anim:hover {
    width: 350px;
    height: 350px;
    color: red;

}

.marg__contenedor {
    margin: 3.5rem;
}

.card-img-top {
    transition: .5s;
    width: 200px;

}

.card-img-top:hover {
    width: 350px;
    height: 350px;
    color: white;

}


/* MEDIA ALBUM */

@media screen and (max-width:1024px) {

    .main__albums {
        height: 1700px;
    }

    .card.tarjeta__anim:hover {
        width: 350px;
        height: 350px;

        display: none;

    }

    .card.tarjeta__anim1:hover {
        width: 350px;
        height: 350px;
        display: none;
    }

    .card.tarjeta__anim2:hover {
        width: 350px;
        height: 350px;
        display: none;

    }

    .card.tarjeta__anim3:hover {
        width: 350px;
        height: 350px;
        display: none;
    }


}


@media screen and (min-width:320px) {

    
    .main__albums {
        height: 2800px;
    }

    .card.tarjeta__anim {
        width: 350px;
        height: 350px;
    }

    .card.tarjeta__anim1 {
        width: 350px;
        height: 350px;

    }

    .card.tarjeta__anim2 {
        width: 350px;
        height: 350px;
  

    }

    .card.tarjeta__anim3 {
        width: 350px;
        height: 350px;
       
    }

}





/* ---------------------  OPINIONES  ----------------------- */

.main__opiniones {
    width: 100%;
    height: 850px;
    background-color: #131311;
}

.contenedor__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 120px;
}

.form-label {
    color: #b9ac28;
}

.btn__opiniones {
    width: 50%;
    margin: auto;

    margin-top: 30px;

    border-radius: 20px;
    border-color: transparent;
    background-color: #b9ac28;
}

.opiniones__titulo {
    color: #b9ac28;
    display: flex;
    justify-content: center;


    padding-top: 80px;
}

.containter-fluid {
    width: 50%;
}