@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

/* NAVBAR ESTILO */
.navbar {
  background-color: #4b543a;
  width: 100%;
  z-index: 2; }
  .navbar .navbar-brand {
    width: 200px;
    height: 120px;
    margin: 0px;
    padding: 0px; }
    .navbar .navbar-brand .navbar-light .navbar-toggler {
      border-color: #b9ac28; }

.navbar-light .navbar-nav .nav-link {
  color: white; }

/* NAVBAR ESTILO */
/* MAIN ESTILO */
.main__index {
  background: url(../imagenes/p1.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 850px;
  max-width: 100%;
  min-width: 100%; }

.main__index:before {
  position: absolute;
  top: 0;
  bottom: -48px;
  right: 0;
  left: 0;
  content: "";
  background: black;
  opacity: .4;
  z-index: 1; }

.main__titulo1,
.main__titulo2 {
  color: white; }

.text-center {
  z-index: 1; }

/* MAIN ESTILO */
/* SECTION ESTILO */
section,
.section__index {
  width: 100%;
  height: 500px;
  background-color: #131311; }
  section .text-center,
  .section__index .text-center {
    color: #b9ac28; }

.d-flex .justify-content-center .align-items-center {
  width: 350px;
  height: 350px; }

/* SECTION ESTILO */
/* FOOTER ESTILO */
.f__index {
  background-color: #4b543a;
  width: 100%;
  height: 135px; }
  .f__index .h1__footer {
    color: #b9ac28; }
  .f__index .icono_footer {
    color: #131311; }
    .f__index .icono_footer:hover {
      color: #b9ac28; }

/* MAIN ESTILO */
.main__tour {
  width: 100%;
  height: 1000px;
  margin: 0px;
  background-color: #131311;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%; }
  .main__tour .row {
    margin-right: 0px;
    margin-left: 0px; }
  .main__tour .titulo__tour {
    color: #b9ac28;
    font-size: 4rem; }
  .main__tour .btn__tour {
    color: white;
    background-color: #b9ac28; }
    .main__tour .btn__tour .fa-brands {
      margin: 20px; }

/* CARD ESTILO */
.card {
  border-radius: 2rem;
  background-color: #4b543a; }
  .card .card-text {
    color: white; }
  .card .card-title {
    color: #b9ac28; }
    .card .card-title .mt-5 {
      color: white; }

.btn:hover {
  background-color: #131311;
  color: white; }

/* CARD ESTILO */
.d-flex {
  align-content: space-around; }

.f__tour {
  background-color: #4b543a;
  width: 100%;
  height: 142px; }
  .f__tour .h1__footer {
    color: #b9ac28; }
  .f__tour .icono_footer {
    color: #131311; }
    .f__tour .icono_footer:hover {
      color: #b9ac28; }

/* -----------------------  ALBUMS  ------------------------- */
.main__albums {
  width: 100%;
  height: 500px;
  background-color: #131311; }
  .main__albums .album__titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    color: #b9ac28; }
  .main__albums .card {
    margin: 3.5rem;
    margin-top: 180px;
    z-index: 1; }

/* .card:hover {
    width: 380px;
    height: 380px;
} */
.tarjeta__anim {
  background: url(../imagenes/trenchportada.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  height: 350px;
  transition: .5s; }

.card.tarjeta__anim:hover {
  width: 380px;
  height: 380px; }

.tarjeta__anim1 {
  background: url(../imagenes/vesseltop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  height: 350px;
  transition: .5s; }

.card.tarjeta__anim1:hover {
  width: 380px;
  height: 380px; }

.tarjeta__anim2 {
  background: url(../imagenes/scaledicy.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  height: 350px;
  transition: .5s; }

.card.tarjeta__anim2:hover {
  width: 380px;
  height: 380px;
  /* @include sizes(380px, 380px); */ }

.tarjeta__anim3 {
  background: url(../imagenes/blurryfaceportada.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 350;
  height: 350;
  transition: .5s; }

.card.tarjeta__anim3:hover {
  width: 380px;
  height: 380px; }

.contenedor__año {
  color: white;
  height: 500px;
  margin-top: 380px; }

.marg__contenedor {
  margin: 3.5rem; }

.card-img-top {
  transition: .5s;
  width: 200px; }
  .card-img-top .card-img-top:hover {
    width: 350px;
    height: 350px;
    color: white; }

.f__albums {
  background-color: #4b543a;
  width: 100%;
  height: 142px; }
  .f__albums .h1__footer {
    color: #b9ac28; }
  .f__albums .icono_footer {
    color: #131311; }
    .f__albums .icono_footer:hover {
      color: #b9ac28; }

/* --MAIN GALERIA DISEÑO-- */
.main__galeria {
  background-color: #131311;
  width: 100%;
  height: 3800px;
  display: flex;
  flex-wrap: wrap; }

.galeria__titulo {
  height: 100px;
  padding: 200px; }
  .galeria__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    width: 100%; }

.galeria__flex {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center; }

.img__galeriaT {
  width: 400px;
  height: 340px; }

/* TITULOS DISEÑO */
span,
.topM {
  color: #b9ac28; }

span,
.topM0 {
  color: #ff968d; }

span,
.topM1 {
  color: #0de2ec; }

span,
.topM2 {
  color: #ef1417; }

span,
.topM3 {
  color: #e6dcd8; }

/* TITULOS DISEÑO */
/* SEPARADOR DISEÑO */
.separador__galeria, .separador__galeria1 {
  margin: 80px;
  width: 1700px;
  height: 2px;
  background-color: #b9ac28; }

.f__galeria {
  background-color: #4b543a;
  width: 100%;
  height: 142px; }
  .f__galeria .h1__footer {
    color: #b9ac28; }
  .f__galeria .icono_footer {
    color: #131311; }
    .f__galeria .icono_footer:hover {
      color: #b9ac28; }

.main__opiniones {
  width: 100%;
  height: 860px;
  background-color: #131311; }

.contenedor__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px; }

.form-label {
  color: #b9ac28; }

.btn__opiniones {
  width: 50%;
  margin: auto;
  margin-top: 30px;
  border-radius: 20px;
  border-color: transparent;
  background-color: #b9ac28; }

.opiniones__titulo {
  color: #b9ac28;
  display: flex;
  justify-content: center;
  padding-top: 80px; }

.containter-fluid {
  width: 45%;
  margin: 50px; }

.f__op {
  background-color: #4b543a;
  width: 100%;
  height: 135px; }
  .f__op .h1__footer {
    color: #b9ac28; }
  .f__op .icono_footer {
    color: #131311; }
    .f__op .icono_footer:hover {
      color: #b9ac28; }

/* MEDIA INDEX */
@media screen and (max-width: 928px) {
  section,
  .section__index {
    height: 922px; } }

@media screen and (max-width: 768px) {
  section,
  .section__index {
    height: 1193px; }
    section .h2,
    .section__index .h2 {
      font-size: 1.8rem; }
  .h1 {
    margin-bottom: 0rem; }
  .d-flex .flex-row-reverse {
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    height: auto; } }

@media screen and (max-width: 500px) {
  .header__all {
    height: 136px; }
    .header__all .h1 {
      font-size: 2rem; }
      .header__all .h1 a .fa-brands {
        margin: 1rem; } }

@media screen and (max-width: 320px) {
  .d-flex .justify-content-center .align-items-center {
    width: 280px;
    height: 289px; } }

/* MEDIA INDEX */
/* MEDIA TOUR */
@media screen and (max-width: 768px) {
  .main__tour {
    height: 2000px; }
    .main__tour .titulo__tour {
      margin: auto;
      margin-bottom: 20rem; }
  .d-flex {
    margin: 0px; }
  .row .d-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px; }
    .row .d-flex .row {
      margin-bottom: auto; }
      .row .d-flex .row {
        margin-right: 0px;
        margin-left: 0px; } }

@media screen and (max-width: 500px) {
  header {
    height: 136px; }
    header a .fa-brands {
      margin: 0px; }
  .row {
    margin-right: 0px;
    margin-left: 0px; } }

@media screen and (max-width: 320px) {
  .d-flex .justify-content-center .align-items-center {
    width: 290px;
    height: 300px; }
  .titulo__tour {
    margin: auto;
    margin-bottom: 20rem;
    color: #b9ac28; }
  .m-5 {
    margin: 1rem !important; } }

/* MEDIA TOUR */
/* MEDIA ALBUM */
@media screen and (min-width: 320px) {
  .main__albums {
    height: 1750px; }
  .card.tarjeta__anim {
    width: 350px;
    height: 350px; }
  .card.tarjeta__anim1 {
    width: 350px;
    height: 350px; }
  .card.tarjeta__anim2 {
    width: 350px;
    height: 350px; }
  .card.tarjeta__anim3 {
    width: 350px;
    height: 350px; } }

/* MEDIA GALERIA */
@media screen and (max-width: 768px) {
  .main__galeria {
    height: 7500px; } }

.galeria__titulo {
  padding: 0px; }

.img__galeriaT {
  width: 300px;
  height: 300px; }

/* MEDIA GALERIA */
/* MEDIA OPINIONES */
@media screen and (max-width: 768px) {
  .main__opiniones {
    height: 863px; }
  .contenedor__form {
    margin-bottom: 60px; }
  .containter-fluid {
    width: 75%; }
  .d-flex .flex-row-reverse {
    width: 315px; } }
