/* MEDIA INDEX */
@media screen and (max-width:1409px) {
    .main__index:before {
        bottom: -100px;
    }

}
@media screen and (max-width:928px) {

    section,
    .section__index {
        height: 922px;
    }
}

@media screen and (max-width:768px) {

    section,
    .section__index {
        height: 1193px;

        .h2 {
            font-size: 1.8rem;
        }
    }

    .h1 {
        margin-bottom: 0rem;
    }

    .main__index:before {
        bottom: -100px;
    }

    .d-flex .flex-row-reverse {
        flex-direction: column;
        flex-wrap: wrap;
        width: 434px;
    }
}

@media screen and (max-width:500px) {

    .header__all {
        height: 136px;

        .h1 {
            font-size: 2rem;

            a .fa-brands {
                margin: 1rem;
            }
        }
    }
}

@media screen and (max-width:320px) {
    .d-flex .justify-content-center .align-items-center {
        width: 275px;
        height: 390px;
        margin-top: 18px;
        padding-top: 62px;
    }

}

/* MEDIA INDEX */

/* MEDIA TOUR */

@media screen and (max-width:1200px) {
    .container {
        padding-right: 0px;
    }
}
@media screen and (max-width:768px) {

    .main__tour {
        height: 2000px;

        .titulo__tour {
            margin: auto;
            margin-bottom: 20rem;
        }
    }

    .d-flex {
        margin: 0px;
    }

    .row .d-flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

        .row {
            margin-bottom: auto;

            & {
                margin-right: 0px;
                margin-left: 0px;
            }
        }
    }


}


@media screen and (max-width:500px) {
    header {
        height: 136px;

        a .fa-brands {
            margin: 0px;
        }
    }

    .row {
        margin-right: 0px;
        margin-left: 0px;
    }


}

@media screen and (max-width:320px) {

  

    .titulo__tour {
        margin: auto;
        margin-bottom: 20rem;
        color: #b9ac28;
    }

    .m-5 {
        margin: 1rem !important;
    }
}


/* MEDIA TOUR */



/* MEDIA ALBUM */

@media screen and (min-width:320px) {


    .main__albums {
        height: 1750px;
    }

    .card.tarjeta__anim {
        width: 350px;
        height: 350px;
    }

    .card.tarjeta__anim1 {
        width: 350px;
        height: 350px;

    }

    .card.tarjeta__anim2 {
        width: 350px;
        height: 350px;
    }

    .card.tarjeta__anim3 {
        width: 350px;
        height: 350px;
    }

}

/* MEDIA GALERIA */

@media screen and (max-width:768px) {

    .main__galeria {
        height: 7500px;
    }
}

.galeria__titulo {
    padding: 0px;
}

.img__galeriaT {
    width: 300px;
    height: 300px;
}

/* MEDIA GALERIA */

/* MEDIA OPINIONES */
@media screen and (max-width:1268px) {
    .opiniones__titulo {
        font-size: 1rem;
    }
    .opiniones__titulos {
        font-size: 3rem;
    }

}
@media screen and (max-width:768px) {

    .main__opiniones {
        height: 863px;
    }

    .contenedor__form {
        margin-bottom: 60px;
    }

    .containter-fluid {
        width: 75%;
    }


}